.itemsSlider {
  padding: 40px 20px;
  &__heading {
    padding-bottom: 20px;
  }
  &__btnWrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    &__btn {
      background-color: black;
      color: white;
    }
  }
}
