.featureProduct {
  padding: 20px;
  display: flex;
  @media screen and (max-width: 768px) {
    flex-direction: column;
    text-align: center;
  }
  justify-content: center;
  gap: 30px;
  &__image {
    flex: 0.5;
    &-img {
      width: 100%;
      border-radius: 5px;
      max-height: 400px;
      object-fit: cover;
    }
  }
  &__right {
    padding-top: 60px;
    @media screen and (max-width: 768px) {
      padding-top: 10px;
    }
    &__title {
      font-weight: 400;
    }
    &__paragraph {
      color: #555;
      font-size: 16px;
    }
    flex: 0.3;
    display: flex;
    gap: 20px;
    flex-direction: column;
    &__btn {
      background-color: #000;
      color: #fff;
    }
  }
}
